h1 {
    text-align: center;
    position: relative;
    vertical-align: middle;
    margin-top: 6%;
    color : black
}

P {
    position: relative;
    left: 15%;
    margin-top: 5%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

input {
    position: relative;
    color:black;
    left: 17%;
    margin-top: 1%;
}


div.buttons {
    position: relative;
    top: 10%;
    left: 10%;
    max-width:1000px;

}

button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

button.button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

button.generate {
    position: relative;
    left: 18%;
    background-color: greenyellow;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 15px;
}

button.button {
    position: relative;
    left: 55%;
    top: 45%;
    background-color: crimson;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-radius: 15px;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

button.button:hover {
    background-color: red;
}

button.generate:hover {
    background-color: rgb(47, 243, 57);
}

#first_output {
    position: relative;
    left: 42%;
    margin-top: 1%;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 300px;
    text-align: center;
    display: none;
    border:1px solid black;
}

#second_output {
    position: relative;
    left: 17%;
    margin-top: 1%;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 310px;
    text-align: center;
    display: none;
    border:1px solid black;
}

button.reset {
    position: relative;
    left: 45%;
    margin-top: 1%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 15px;
    color: black; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: rgb(89, 241, 89);
}
